
<!-- NWT_CUSTOM -->
<style type="text/css">
    #logo-sitename {        
        z-index: 1;        
        margin: 0;
        vertical-align: bottom;
        /*line-height: 1;*/
    }

    #logo-sitename .name a {
        position: relative;        
        left: 150px;
        top: 10px;
        color: #3e3e3e;
        font-weight: normal;
        padding: 0;
        text-decoration: none;
    }

    #logo-sitename .name a:hover {
        text-decoration: none;
    }
</style>


<!-- NWT_CUSTOM -->
<div id="logo-sitename" style="background-color:white">
    <div class="container">
        

            <a class="logo navbar-btn pull-left" href="/" title="Home">
                <img src="/geonetwork/images/nt_logo.png" alt="Home">
            </a>
            <h1 class="name"><a href="http://www.gov.nt.ca/" title="Home" data-translate="" >govNWT</a></h1>


        
    </div>
</div>

<div class="navbar navbar-default gn-top-bar" role="navigation"
     data-ng-include="'../../catalog/templates/top-toolbar.html'"
     xmlns="http://www.w3.org/1999/html"></div>
<div data-gn-alert-manager=""></div>
<div class="gn-search-page"
     data-ng-controller="GnSearchController">
    <cookiewarning></cookiewarning>
    <div class=""
         data-ng-controller="gnsDefault">
        <gn-extend-mainctrl></gn-extend-mainctrl>
        <div data-ng-include="'../../catalog/views/default/templates/home.html'"
             data-ng-show="activeTab == '/home'" />
        <div data-ng-include="'../../catalog/views/default/templates/results.html'"
             data-ng-show="activeTab == '/search'" />
        <div data-ng-if="isMapViewerEnabled"
             data-ng-include="'../../catalog/views/default/templates/map.html'"
             data-ng-show="activeTab == '/map'" />
        <div data-ng-include="'../../catalog/views/default/templates/recordView.html'"
             data-ng-show="activeTab == '/metadata'" />
    </div>
</div>

<div class="navbar navbar-default gn-bottom-bar" role="navigation"
     data-ng-include="'../../catalog/views/default/templates/footer.html'">
</div>
