<div class="container-fluid"
     data-ng-search-form=""
     data-runSearch="true">
  <div data-ng-include="'../../catalog/views/default/templates/searchForm.html'"></div>

  <div gn-grid-related-query="searchResults.records"></div>

  <div class="row"
       data-ng-show="searchResults.records.length > 0">
    <div class="col-md-offset-3 col-md-3 relative">
      <div data-gn-selection-widget=""
           data-results="searchResults"></div>
    </div>
    <div class="col-md-6">
      <div class="pull-right"
           data-gn-pagination="paginationInfo"
           data-hits-values="searchObj.hitsperpageValues"
           data-enable-hot-keys=""
           data-enable-events=""></div>

      <div class="pull-right"
           data-sortby-combo=""
           data-params="searchObj.params"
           data-gn-sortby-values="searchObj.sortbyValues"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 gn-search-facet">

      <!-- Hierachical facet mode -->
      <div data-ng-show="searchResults.records.length > 0"
           data-gn-facet-dimension-list="searchResults.dimension"
           data-params="searchObj.params"
           data-facet-type="facetsSummaryType"
           data-current-facets="currentFacets">
      </div>

      <!-- Flat facet mode (deprecated)
      <div data-ng-show="searchResults.records.length > 0"
           data-gn-facet-list="searchResults.facet"
           data-params="searchObj.params"
           data-facet-config="facetsSummaryType"
           data-current-facets="currentFacets">
      </div>-->
    </div>
    <div class="col-md-9">
      <!-- Flat facet mode (deprecated)
      <div class="gn-results-heading">
        <div data-gn-facet-breadcrumb="currentFacets"></div>
      </div>-->
      <span class="loading fa fa-spinner fa-spin"
            data-ng-show="searching"></span>

      <div class="alert alert-warning" role="alert"
           ng-if="!searching && searchResults.count == 0">
        <i class="fa fa-frown-o"></i>
        <span data-translate="">zarooResult</span>
      </div>

      <div data-ng-show="searchResults.records.length > 0"
           data-gn-results-container=""
           data-search-results="searchResults"
           data-template-url="resultTemplate"
           data-map="searchObj.searchMap"></div>

    </div>
  </div>

  <div class="row"
       data-ng-show="searchResults.records.length > 0">
    <div class="col-md-offset-3 col-md-9">
      <div class=""
           data-gn-pagination="paginationInfo"
           data-hits-values="searchObj.hitsperpageValues"
           data-enable-hot-keys=""></div>
      <br/>
    </div>
  </div>

  <div data-gn-map-field="searchObj.searchMap"
       data-gn-map-field-geom="searchObj.params.geometry"
       data-gn-map-field-opt="searchObj.mapfieldOption"
       class="gn-search-map">
  </div>

  <button data-ng-click="toggleMap()"
          title="{{'toggleMiniMap' | translate}}"
          class="gn-toggle gn-minimap-toggle btn btn-link gn-minimap-button">
    <i class="fa fa-angle-double-right" ></i>
    <b class="gn-minimap-toggle gn-minimap-text" data-translate="">map</b>
  </button>
</div>
