<form data-ng-keypress="updatingHarvester()">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>


  <div class="row">
    <div class="col-lg-6" data-gn-harvester-identification="harvesterSelected" lang=""/>

    <div class="col-lg-6" data-gn-harvester-schedule="harvesterSelected"/>
  </div>


  <fieldset>
    <legend><span data-translate="">harvesterMainConfigurationFor</span> {{('harvester-' +
      harvesterSelected['@type']) | translate}}
    </legend>
    <div data-ng-class="harvesterSelected.site.directory == '' ? 'has-error' : ''">
      <label class="control-label" data-translate="">filesystem-directory</label>
      <input type="text" class="form-control" data-ng-model="harvesterSelected.site.directory"/>
      <p class="help-block" data-translate="">filesystem-directoryHelp</p>
    </div>

    <!--Type of record-->
    <div>
      <label class="control-label" data-translate="">typeOfRecord</label>
      <div gn-recordtypes-combo="harvesterSelected.site.recordType"></div>
    </div>

    <!--<div data-ng-class="harvesterSelected.site.hierarchyLevelCode == '' ? 'has-error' : ''">-->
      <!--<label class="control-label" >Hierarchy Level Code</label>-->
      <!--<input type="text" class="form-control" data-ng-model="harvesterSelected.site.hierarchyLevelCode"/>-->
      <!--<p class="help-block" >image, mxd, pdf, layer</p>-->
    <!--</div>-->
  </fieldset>


  <fieldset>
    <legend><span data-translate="">harvesterAdvancedConfigurationFor</span>
      {{harvesterSelected['@type'] | translate}}
    </legend>

    <div>
      <label class="control-label">
        <input type="checkbox" data-ng-model="harvesterSelected.site.recurse"/>
        <span data-translate="">filesystem-recurse</span>
      </label>
      <p class="help-block" data-translate="">filesystem-recurseHelp</p>
    </div>

    <div>
      <label class="control-label">
        <input type="checkbox" data-ng-model="harvesterSelected.site.nodelete"/>
        <span data-translate="">filesystem-nodelete</span>
      </label>
      <p class="help-block" data-translate="">filesystem-nodeleteHelp</p>
    </div>

    <div>
      <label class="control-label">
        <input type="checkbox"
               data-ng-model="harvesterSelected.site.checkFileLastModifiedForUpdate"/>
        <span data-translate="">filesystem-checkFileLastModifiedForUpdate</span>
      </label>
      <p class="help-block" data-translate=""
      >filesystem-checkFileLastModifiedForUpdateHelp</p>
    </div>

    <div data-gn-category="harvesterSelected.categories[0]['@id']" data-lang="{{lang}}"
         data-label="category"/>


    <div>
      <label class="control-label">
        <span data-translate="">harvesterValidate</span>
      </label>
      <div data-gn-harvester-validation="harvesterSelected.content.validate"/>
      <p class="help-block" data-translate="">harvesterValidateHelp</p>
    </div>
    <div>
      <label class="control-label" data-translate="">applyXSLToRecord</label>
      <div data-gn-import-xsl="harvesterSelected.content.importxslt"/>

      <p class="help-block" data-translate="">applyXSLToRecordHelp</p>
    </div>
  </fieldset>


  <div data-gn-harvester-privileges="harvesterSelected" data-lang="{{lang}}"/>
</form>
