<form name="wfsFilterForm">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>

  <!--WFS not available alert-->
  <div data-ng-show="isWfsAvailable == false" class="alert alert-warning">
    <button type="button" class="close"><i class="fa fa-times"/></button>
    <span data-translate=""
          data-translate-values="{'url': '{{wfsUrl}}'}">wfsNotAvailable</span>
  </div>

  <!--WFS not indexed alert-->
  <div data-ng-show="status"
       class="alert alert-warning" title="{{statusTitle}}">
    <button type="button" class="close"
            data-ng-click="status = null"><i class="fa fa-times"/></button>
    <span>{{status | translate}}</span>
  </div>

  <div class="btn-group"
       data-ng-if="!isFeaturesIndexed &&
       (user.canEditRecord(md) || md.isHarvested == 'y')">
    <a class="btn btn-default btn-xs"
       data-ng-click="indexWFSFeatures()">
      <i class="fa fa-codiepie"></i>&nbsp;
      <span data-translate="">indexWFSFeatures</span>
    </a>
    <a class="btn btn-default btn-xs"
       title="{{'refresh' | translate}}"
       data-ng-click="initSolrRequest()">
      <i class="fa fa-refresh"></i>
    </a>
  </div>

  <div data-ng-show="isFeaturesIndexed">
    <!--search input-->
    <div class="gn-layertree-filter">
      <span class="fa fa-times-circle clear"
            data-ng-click="clearInput()"
            title="{{'clear' | translate}}"></span>
      <input type="text"
             data-gn-focus-on="isFeaturesIndexed"
             data-ng-model="searchInput"
             data-ng-change="filterFacets()"
             data-ng-model-options="{ debounce: 400 }"
             class="layerfilter form-control input-sm"
             placeholder="{{'filter'|translate}}"/>
    </div>

    <!--Facet count-->
    <div data-ng-if="isFeaturesIndexed" class="count"
         data-ng-if="showCount">
      {{count | number}}&nbsp;/&nbsp;{{countTotal | number}}&nbsp;<span translate="">features</span>
    </div>

    <!--Facet fields-->
    <div class="gn-facet"
         data-ng-repeat="field in fields" data-ng-show="field.values.length > 0">
      <h5 gn-collapsible="field.expanded">
        <span class="fa fa-arrow-circle-right"
              data-ng-class="{'fa-rotate-90': field.expanded, 'gn-field-empty': !output[field.name]}"></span>
        {{field.label}}
      </h5>
      <div class="list-group"
           data-ng-class="{'collapse': !field.expanded}">
        <div class="checkbox list-group-item"
             data-ng-repeat="facet in field.values | filter:searchInput"
             data-ng-click="onCheckboxClick(field.name, facet.value, field.type)"
             data-ng-class="{'selected': output[field.name].values[facet.value]}">
          <i class="fa"
             data-ng-class="output[field.name].values[facet.value] ? 'fa-check-square' : 'fa-square-o'"></i>{{::facet.value}}&nbsp;({{::facet.count | number:0}})
        </div>
      </div>
    </div>

    <!--Geometry Field-->
    <div class="gn-facet" ng-if="solrObject.geomField">
      <h5 gn-collapsible="solrObject.geomField.expanded">
        <span class="fa fa-arrow-circle-right"
              data-ng-class="{'fa-rotate-90': solrObject.geomField.expanded, 'gn-field-empty': !output[solrObject.geomField.name]}"></span>
        {{'spatialExtent' | translate}}
      </h5>
      <div class="list-group"
           data-ng-class="{'collapse': !solrObject.geomField.expanded}">
        <gn-bbox-input data-value="ctrl.searchGeometry"
                       data-map="map"
        />
      </div>
    </div>


    <!--admin buttons-->
    <div class="btn-group dropup">
      <button class="btn btn-default btn-xs"
              data-gn-click-and-spin="filterWMS()">
        <i class="fa fa-filter"></i>&nbsp;
        <span data-translate="">filter</span>
      </button>
      <button class="btn btn-default btn-xs"
              ng-click="showTable()">
        <i class="fa fa-table"></i>&nbsp;
        <span data-translate="">Table</span>
      </button>
      <button data-gn-click-and-spin="resetFacets()"
              class="btn btn-default btn-xs gn-reset-facets">
        <i class="fa fa-eraser"></i>&nbsp;
        <span translate>reset</span>
      </button>
      <button class="btn btn-default btn-xs"
              title="{{'refresh' | translate}}"
              data-ng-click="initSolrRequest()">
        <i class="fa fa-refresh"></i>&nbsp;
      </button>
      <button data-ng-show="user.canEditRecord(md) || md.isHarvested == 'y'"
              type="button" class="btn btn-default btn-xs dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
          data-ng-show="user.canEditRecord(md) || md.isHarvested == 'y'">
        <li>
          <a href="" data-ng-click="indexWFSFeatures()">
            <i class="fa fa-codiepie"></i>&nbsp;
            <span data-translate="">reindexWFSFeatures</span> (WFS 1.0.0)
          </a>
        </li>
        <li>
          <a href="" data-ng-click="indexWFSFeatures('1.1.0')">
            <i class="fa fa-codiepie"></i>&nbsp;
            <span data-translate="">reindexWFSFeatures</span> (WFS 1.1.0)
          </a>
        </li>
        <li>
          <a href="" data-ng-click="dropFeatures()">
            <i class="fa fa-times"></i>&nbsp;
            <span data-translate="">removeFeatures</span>
          </a>
        </li>
      </ul>
    </div>
    <div data-ng-show="hmActive">
      <label data-ng-show="map"
             data-ng-show="source.getFeatures().length > 0">
        <input type="checkbox"
               data-ng-model="isHeatMapVisible"/>
        <span data-translate="">displayHeatMap</span>
      </label>
    </div>

  </div>
</form>
