<div class="wrapper" data-ng-controller="gnViewerController">

  <div id="map"
       ngeo-map="map"
       class="map"
       gn-vector-feature-tool-tip="map">

  </div>
  <div gn-gfi="" map="map"></div>
  <gn-features-tables gn-features-tables-map="map"></gn-features-tables>

  <div gn-localisation-input map="map"></div>

  <!--Top right buttons - Tools-->
  <div class="tools" gi-btn-group gnv-close-panel data-ng-controller="toolsController">
    <button class="btn btn-default" ng-model="activeTools.addLayers" type="submit"
            rel="#addLayers" gi-btn gnv-tools-btn>
      <span class="fa fa-plus"></span>
      <span role="tooltip" data-translate="">addLayers</span>
    </button>
    <button class="btn btn-default" ng-model="activeTools.layers" type="submit"
            rel="#layers" gi-btn gnv-tools-btn>
      <span class="fa fa-tasks"></span>
      <span role="tooltip" data-translate="">Layers</span>
    </button>
    <button gi-btn class="btn btn-default" type="submit"
            rel="#filterData" ng-model="activeTools.filter" gnv-tools-btn>
      <span class="fa fa-filter"></span>
      <span role="tooltip" data-translate="">filterData</span>
    </button>
    <button class="btn btn-default" ng-model="activeTools.contexts" type="submit"
            rel="#contexts" gi-btn gnv-tools-btn>
      <span class="fa fa-book"></span>
      <span role="tooltip" data-translate="">Contexts</span>
    </button>
    <button class="btn btn-default" ng-model="activeTools.print" type="submit"
            data-ng-hide="is3dEnabled"
            rel="#print" gi-btn gnv-tools-btn>
      <span class="fa fa-print"></span>
      <span role="tooltip" data-translate="">Print</span>
    </button>

    <button class="btn btn-default" type="submit"
            data-ng-click="syncMod()">
      <span class="fa fa-sync"
            data-ng-class="synAllLayers ? 'fa-lock' : 'fa-unlock'"/>
      <span role="tooltip" data-translate="">syncAllLayers</span>
    </button>

    <button gi-btn class="btn btn-default" type="submit" ng-model="mInteraction.active"
            data-ng-hide="is3dEnabled"
            rel="#measures" gnv-tools-btn>
      <span class="fa fa-expand"></span>
      <span role="tooltip" data-translate="">Measure</span>
    </button>
    <button gi-btn class="btn btn-default" type="submit"
            data-ng-hide="is3dEnabled"
            rel="#draw" ng-model="drawVector.inmap" gnv-tools-btn>
      <span class="fa fa-pencil"></span>
      <span role="tooltip" data-translate="">Annotations</span>
    </button>
  </div>
  <!--Bottom right buttons - Navigation-->
  <div class="tools control-tools">
    <button class="btn btn-default" type="submit" data-ng-click="zoom(map,1)">
      <span class="fa fa-plus"></span>
      <span role="tooltip" data-translate="">ZoomIn</span>
    </button>
    <button class="btn btn-default" type="submit" data-ng-click="zoom(map,-1)">
      <span class="fa fa-minus"></span>
      <span role="tooltip" data-translate="">ZoomOut</span>
    </button>
    <button class="btn btn-default" type="submit" data-ng-click="zoomToMaxExtent(map)">
      <span class="fa fa-arrows-alt"></span>
      <span role="tooltip" data-translate="">ZoomToMapMaxExtent</span>
    </button>
    <button class="btn btn-default" type="submit" data-ng-click="zoomToYou(map)">
      <span class="fa fa-map-marker"></span>
      <span role="tooltip" data-translate="">ZoomToYourLocation</span>
    </button>
    <button class="btn btn-default" type="submit"
            data-ng-if="is3DModeAllowed"
            data-ng-click="switch2D3D(map)">
      <span class="fa fa-cube"
            data-ng-class="is3dEnabled ? 'fa-cube' : 'fa-square-o'"/>
      <span role="tooltip" data-translate="">switchFrom2DTo3D</span>
    </button>
    <button gn-graticule-btn="map" class="btn btn-default" type="submit">
  </div>


  <div class="panel panel-default force-hide panel-tools"
       id="addLayers"
       gnv-layermanager-btn="false">
    <div class="panel-heading">
      <h3>{{'AddALayer' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <tabset id="info-tabset">
        <tab heading="{{'SearchLayer' | translate}}"
             active="addLayerTabs.search">
          <br/>
          <div data-gn-search-layer-for-map="map"></div>
        </tab>
        <tab heading="{{'LayerWMS' | translate}}"
             active="addLayerTabs.wms">
          <div gn-wms-import="wms"
               gn-wms-import-map="map"
               services-list-from-catalog="true"></div>
        </tab>
        <tab heading="{{'LayerWMTS' | translate}}"
             active="addLayerTabs.wmts">
          <div gn-wms-import="wmts" gn-wms-import-map="map"></div>
        </tab>
        <tab heading="{{'LayerWFS' | translate}}"
             active="addLayerTabs.wfs">
          <div gn-wms-import="wfs"
               gn-wms-import-map="map"
               services-list-from-catalog="true"></div>
        </tab>
        <tab heading="{{'LayerKML' | translate}}"
             active="addLayerTabs.kml">
          <div gn-kml-import="" gn-kml-import-map="map"></div>
        </tab>
      </tabset>
    </div>
  </div>


  <div class="panel panel-default force-hide panel-tools"
       id="layers"
       gnv-layermanager-btn="false">
    <div class="panel-heading">
      <h3>{{'ManageLayers' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body layers">
    </div>

    <div gn-layermanager="" gn-layermanager-map="map"></div>

    <div gn-baselayerswitcher=""
         gn-baselayerswitcher-map="map"
         data-dropup=""></div>
    <br/>
    <div data-gn-terrain-switcher="ol3d"
         data-dropup=""
         data-ng-show="is3dEnabled"></div>
    <br/>
  </div>


  <div class="panel panel-default force-hide panel-tools gn-data-filter-view"
       id="filterData">
    <div class="panel-body">
      <div data-gn-data-filter-view="map"/>
    </div>
  </div>


  <div class="panel panel-default force-hide panel-tools" id="contexts">
    <div class="panel-heading">
      <h3>{{'MapContexts' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <div gn-ows-context="" map="map" user="user"></div>
    </div>
  </div>


  <!--Measure Info Panel-->
  <div class="panel panel-default force-hide panel-tools" id="measures">
    <div class="panel-heading">
      <h3>{{'Measures' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body panel-sm">
      <div class="gn-measure-text">
        <div class="alert alert-warning hidden-print" translate>measure_instruction</div>
        <dl class="dl-horizontal">
          <dt>{{'Distance' | translate}}</dt>
          <dd>{{measureObj.distance | measure}}</dd>
          <dt>{{'Surface' | translate}}</dt>
          <dd>{{measureObj.surface | measure:'area':['km&sup2', ' m&sup2']}}</dd>
        </dl>
      </div>
    </div>
  </div>


  <!--Draw Panel-->
  <div class="panel panel-default force-hide panel-tools" id="draw">
    <div class="panel-heading">
      <h3>{{'Annotations' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <div class="gn-draw-styleform" gn-draw="" map="map" vector="drawVector">
      </div>
    </div>
  </div>


  <div class="panel panel-default force-hide panel-tools" id="print">
    <div class="panel-heading">
      <h3>{{'PrintTheMap' | translate}}
        <button type="button" class="btn btn-default close">
          &times;
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <div gn-mapprint="" print-active="activeTools.print" map="map"></div>
    </div>
  </div>
</div>
