<div class="gn-related-resources"
     data-ng-if="relationFound">
  <h2>{{::title}}</h2>

  <div class=""
       data-ng-repeat="(type, items) in relations track by $index"
       data-ng-if="type && type !== 'thumbnails'">
    <div class="row list-group-item gn-related-item"
         data-ng-repeat="r in items track by $index"
         data-ng-init="mainType = config.getType(r, type);">
      <div class="col-xs-1">
        <strong>
          <i class="fa"
             data-ng-class="config.getClassIcon(mainType)"/>&nbsp;
        </strong>
      </div>
      <div class="col-xs-7">
        <!-- WMS & WFS contains layer name in title -->
        <h4 data-ng-if="((mainType === 'WMS' || mainType === 'WFS') &&
                        !isLayerProtocol(r.protocol)) &&
                      mainType !== 'WCS' &&
                      mainType !== 'LINKDOWNLOAD' &&
                      mainType !== 'LINK'">
          {{::(r.title | gnLocalized: lang) || r.url}}
        </h4>
        <!-- Display description if available -->
        <h4 data-ng-if="(mainType === 'WMS' ||
                       mainType === 'WCS' ||
                       mainType.indexOf('LINK') === 0 ||
                       r.protocol === 'OGC:WFS') &&
                       r.description.length > 0">
          {{::r.description | gnLocalized: lang | striptags | characters:150}}
        </h4>

        <div data-ng-switch on="mainType">
          <div data-ng-switch-when="WMS">
            <p class="text-muted">
              <span data-ng-show="isLayerProtocol(r.protocol)"
                    data-translate=""
                    data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
                wmsLinkDetails</span>

                    <span data-ng-show="!isLayerProtocol(r.protocol)"
                          data-translate=""
                          data-translate-values="{url:'{{r.url}}'}">
                wmsServiceLinkDetails</span>
            </p>
          </div>

          <div data-ng-switch-when="WFS">
            <p class="text-muted"
               data-ng-if="isLayerProtocol(r.protocol)">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
                  wfsLinkDetails</span>
            </p>
            <div data-ng-if="isLayerProtocol(r.protocol)"
                 data-gn-no-map-wfs-download=""
                 data-typename="{{r.title | gnLocalized: lang}}"
                 data-url="{{r.url}}">
            </div>

            <p class="text-muted"
               data-ng-if="!isLayerProtocol(r.protocol)">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}'}">
          wfsServiceLinkDetails</span>
            </p>
            <div data-ng-if="!isLayerProtocol(r.protocol)"
                 data-gn-no-map-wfs-download=""
                 data-typename=""
                 data-url="{{r.url}}">
            </div>
          </div>

          <div data-ng-switch-when="WMTS">
            <div
              data-gn-wmts-download="r.title"
              data-layer-name="{{r.title | gnLocalized: lang}}"
              data-url="{{r.url}}"
              data-md="md">
            </div>
          </div>

          <div data-ng-switch-when="SOS">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
                  sosLinkDetails</span>
          </div>

          <div data-ng-switch-when="WCS">
            <p class="text-muted">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
                  wcsLinkDetails</span>
            </p>
          </div>

          <div data-ng-switch-when="ATOM">
            <p class="text-muted" data-translate=""
                  data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
                  atomLinkDetails
            </p>
            <div
              data-gn-atom-download="r.title"
              data-layer-name="{{r.title | gnLocalized: lang}}"
              data-url="{{r.url}}"
              data-md="md">
            </div>
          </div>

          <div data-ng-switch-when="DB">
            <p class="text-muted">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}', layer:'{{r.title | gnLocalized: lang}}'}">
          databaseLayerDetails</span>
            </p>
          </div>

          <div data-ng-switch-when="FILE">
            <p class="text-muted">
            <span data-translate=""
                  data-translate-values="{url:'{{r.url}}', name:'{{r.title | gnLocalized: lang}}'}">
          fileLayerDetails</span>
              <input class="form-control"
                     type="text"
                     onClick="this.setSelectionRange(0, this.value.length)"
                     value="{{::r.url}}"/>
            </p>
          </div>

          <div data-ng-switch-default>
            <p class="text-muted"
               data-ng-if="mainType.indexOf('MD') == 0 && r.id">
              <a href="#/metadata/{{r.id}}">
                {{(r.title | gnLocalized: lang) }}
              </a> ({{(config.getLabel(mainType, type)) | translate}})<br/>
              {{ (r.description | gnLocalized: lang | striptags | words:35)}} <a href="#/metadata/{{r.id}}">Meer...</a>
            </p>

            <p class="text-muted"
               data-ng-if="mainType.indexOf('MD') == -1">
              <span data-translate="">otherLinkDetails</span><br/>
              <a href="{{r.url}}" target="_blank">
                {{r.url}} </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <button type="button"
                class="btn btn-default btn-sm btn-block"
                data-ng-show="hasAction(mainType)"
                data-ng-click="config.doAction(mainType, r, md)">

        <span class="visible-lg-*">
          {{::(config.getLabel(mainType, type)) | translate}}
          </span>
        </button>
      </div>

  </div>
</div>
