/* Defined here any custom style for the view
   which has to be applied for all apps
   (ie. admin, search, login, editor). */
.gn-nopadding-top {
  padding-top: 0;
}
.gn-nopadding-right {
  padding-right: 0;
}
.gn-nopadding-bottom {
  padding-bottom: 0;
}
.gn-nopadding-left {
  padding-left: 0;
}


// NWT_CUSTOM - set the NWT swoosh/curve background image

body {
  font-family: "Arial", Arial, sans-serif;

}


.gn-full {	
	background-image: url("../images/curve.png");	
	background-repeat: no-repeat;
	background-size: 100% 400px;    
    background-position-x:center;    
    background-position-y:200px;
}

// NWT_CUSTOM - this allows the background image to come through in some areas where it would be hidden
.gn-row-topics {
	background-color: transparent;	
}


@navbar-default-color: #ffffff;
@navbar-default-bg: #0f599a;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);

@navbar-default-link-color: #ffffff;


@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #ccc;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: white;// #0f599a;
@navbar-default-link-active-bg: darken(#ffffff, 6.5%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;

.navbar {
	margin-bottom: 16px;
	border-bottom: 6px #0190d2 solid;
}

.navbar-nav {
	float: left;
	margin: 0px 0px -2px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #0190d2;
}

.navbar-default .navbar-nav > .open > a {
    //color: #0f599a;
    color:white;
}

/*.navbar li.dropdown-hover.open:not(.active) > .dropdown-toggle {
    color: #ffffff;
}*/


/*.gn-logo {
    background-color:white;
	min-height: 49px;
	margin: -17px 5px;
	padding: 6px;
}*/

/*.gn-logo {
	background-color: white;
	min-height: 50px;
	margin: -17px 7px -14px -14px;
	padding: 6px;
}*/

/*.gn-logo {
	background-color: white;
	min-height: 52px;
	margin: -20px 7px -20px -14px;
	padding: 6px;
}*/

.gn-logo {
	background-color: white;
	min-height: 50px;
	//margin: -19px 7px -16px -14px;
    margin: -20px 7px -17px -14px;
	padding: 6px;
}

