<div class="gn-geopublisher-panel" data-ng-show="nodes.length > 0">
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle"
            data-toggle="dropdown">
      <i class="fa fa-globe text-danger"></i>&nbsp;<span
      data-translate="">geopublisher</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li data-ng-repeat="r in resources">
        <a href="" data-ng-click="showPanel(r)">
          {{r.name}}
        </a>
      </li>
    </ul>
  </div>
  <div data-gn-need-help="user-guide/workflow/geopublication.html"
       data-icon-only="true"
       class="pull-right"></div>

  <div class="panel panel-default" data-ng-hide="hidden">
    <div class="panel-heading">
      <span data-translate="" data-translate-values="{layer: name}">publishIn</span>

      <select data-ng-model="gsNode"
              data-ng-options="value.name for (key, value) in nodes">
      </select>
    </div>
    <div class="panel-body">
      <!-- Header with projection selection, draw button and area list -->
      <form class="form" data-role="form">
              <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <div class="form-group" class="col-sm-12 inline">
          <div class="btn-toolbar">
            <button class="btn btn-lin btn-xs"
                    data-ng-click="checkNode()"
                    data-ng-class="{'disabled': (!gsNode)}">
              <i class="fa fa-chain"></i>&nbsp;<span data-translate="">check</span>
            </button>
            <button class="btn btn-link btn-xs" data-ng-click="publish()"
                    data-ng-class="{'disabled': (isPublished || !gsNode)}">
              <i class="fa fa-globe"></i>&nbsp;<span data-translate="">publish</span>
            </button>
            <button class="btn btn-link btn-xs" data-ng-click="unpublish()"
                    data-ng-class="{'disabled': (!isPublished || !gsNode)}">
              <i class="fa fa-globe text-danger"></i>&nbsp;<span
              data-translate="">unpublish</span>
            </button>
            <!-- DROP DOWN CHECKBOX -->
            <div class="dropdown">
              <button class="btn btn-link btn-xs" data-toggle="dropdown"
                      data-ng-class="{'disabled': (!isPublished || !gsNode)}">
                <i class="fa fa-clipboard"></i>&nbsp;<span data-translate="">linkService</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a data-ng-click="setCheckBox('wms', $event)" href="">
                    <i class="fa fa-check-square-o" data-ng-show="protocols.wms.checked"></i>
                    <i class="fa fa-square-o" data-ng-hide="protocols.wms.checked"></i>
                    {{protocols.wms.label}}
                  </a>
                </li>
                <li>
                  <a data-ng-click="setCheckBox('wfs', $event)" href="">
                    <i class="fa fa-check-square-o" data-ng-show="protocols.wfs.checked"></i>
                    <i class="fa fa-square-o" data-ng-hide="protocols.wfs.checked"></i>
                    {{protocols.wfs.label}}
                  </a>
                </li>
                <li>
                  <a data-ng-click="setCheckBox('wcs', $event)" href="">
                    <i class="fa fa-check-square-o" data-ng-show="protocols.wcs.checked"></i>
                    <i class="fa fa-square-o" data-ng-hide="protocols.wcs.checked"></i>
                    {{protocols.wcs.label}}
                  </a>
                </li>
                <li data-role="presentation" class="divider"></li>
                <li data-role="presentation">
                  <a data-role="menuitem" tabindex="-1" href=""
                     data-ng-click="linkService()">
                    <span data-translate="">addLinks</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-link btn-xs" data-ng-click="openStyler()"
                  data-ng-class="hasStyler ? ((isPublished || !gsNode) ? '': 'disabled') : 'hidden'">
            <i class="fa fa-pencil"></i>&nbsp;<span data-translate="">style</span>
          </button>
        </div>
      </form>

      <div id="{{mapId}}" class="map"></div>
      <div class="alert alert-info" data-ng-if="statusCode">{{statusCode}}</div>
    </div>
  </div>
</div>
